* {font-family:helvetica;}

#base-page {
	background: url('images/bluebackground.png') 90%;
}

#base-page .ui-btn {
	background: url('images/bluebutton1.png') 50% center;
	height: 68px;
	line-height:35px;
	text-align:left;

}

.pull-right {float:right;}
.pull-left {float:left;}

#base-page .ui-btn[data-rel=back] {height:30px;line-height:15px;}
#base-page .ui-btn[data-rel=back] span {font-size:14px;color:#FFF;}

#base-page .ui-btn .icon-large {font-size:125%;line-height:100%;}
#base-page .ui-btn span {
	font-size:25px;
	color:#666;
}