{% extends 'base.html' %}
{% block content %}
<div data-role="header">
  <h1>Feed & Gain</h1>
</div>

<!-- FIXME -->
<div data-role="content">

  <form id="request-form" action="{% url 'create_profile' %}" method = "POST">	
    {% csrf_token %}

    <input type="text" name="phone_number" placeholder="+14152152139" ></input>
    <textarea name="donater_description" placeholder="Describe yourself"></textarea>
    <button data-shadow="false" data-corners="false" type="submit" >Create you profile <span class="pull-right icon-large">+</span></button>
  </form>
  <table>
    <thead>
      <th>Phone Number</th>
      <th>Donater Description</th>
    </thead>
    <tr>
      <td>{{user_profile.phone_number}}</td>
      <td>{{user_profile.donater_description}}</td>
    </tr>
  </table>
</div>
{% endblock %}
