{% extends 'base.html' %}
{% block content %}

    <div data-role="header" style="background: white">
      <hr style="height: 5px; background: black">
      <img src="{{STATIC_URL}}/css/images/logo" style="width:50%;height:25%; margin-left:5px">
      <img src="{{STATIC_URL}}/css/images/blackbutton.jpg" style="width:10%;float:right;margin-right:5px">
    </div>

<!-- FIXME -->
<div data-role="content">

  <form id="request-form" action="{% url 'create_profile' %}" method = "POST">	
    {% csrf_token %}

    <input type="tel" name="phone_number" placeholder="+14152152139" ></input>
    <textarea name="donater_description" placeholder="Describe yourself"></textarea>
    <button data-shadow="false" data-corners="false" type="submit" >Create you profile <span class="pull-right icon-large">+</span></button>
  </form>
  <table>
    <thead>
      <th>Phone Number</th>
      <th>Donater Description</th>
    </thead>
    <tr>
      <td>{{user_profile.phone_number}}</td>
      <td>{{user_profile.donater_description}}</td>
    </tr>
  </table>
</div>
{% endblock %}
