{% extends 'base.html' %}
{% block content %}

		<div data-role="header" style="background: white">
			<hr style="height: 5px; background: black">
			<img src="{{STATIC_URL}}/css/images/logo" style="width:50%;height:25%; margin-left:5px">
			<img src="{{STATIC_URL}}/css/images/blackbutton.jpg" style="width:10%;float:right;margin-right:5px">
		</div>

<div data-role="content" data-fullscreen="true">
  <div id="donation-map"
       style="height:100%;width:100%;position:absolute;margin-left:-15px;margin-top:-15px;"
       data-markers='[{% for request in all_requests %}[{{request.latitude}},{{request.longitude}}, "{{request.created}}", {{request.id}}, "{{request.description}}"]{% if not forloop.last %},{% endif %}{% endfor %}]'
       >
  </div>
</div>

{% endblock %}

