{% extends 'base.html' %}
{% block content %}

    <div data-role="header" style="background: white">
      <hr style="height: 5px; background: black">
      <img src="{{STATIC_URL}}/css/images/logo" style="width:50%;height:25%; margin-left:5px">
      <img src="{{STATIC_URL}}/css/images/blackbutton.jpg" style="width:10%;float:right;margin-right:5px">
    </div>
  
  <div data-role="content">
    <form>
    	<label>ETA:</label>
      <select>
     	  <option value="5">5 stars</option>
     	  <option value="4">4 stars</option>
     	  <option value="3">3 stars</option>
     	  <option value="2">2 stars</option>
     	  <option value="1">1 star</option>
     </select>
    </form>
    <form>
      <a href="#" data-role="button">
        Share!
      </a>
    </form>
  </div>
{% endblock %}