{% extends 'base.html' %}
{% block content %}

<!-- FIXME -->
<div data-role="content">
  <img id="logo" src="/static/css/images/logo"></img>
  <form>
    <a href="/messenger/donation_map" data-role="button" data-corners="false" data-shadow="false">
      Search Donations
    </a>
    <a href="{% url 'create_pickup_request' %}" data-role="button" data-corners="false" data-shadow="false">
      New Donation
    </a>
    <a href="{% url 'create_profile' %}" data-role="button" data-corners="false" data-shadow="false">
      Create Profile
      <a href="{% url 'my_profile'  %}" data-role="button" data-corners="false" data-shadow="false">
        My Profile
      </a>
      <a href="#" data-role="button" data-corners="false" data-shadow="false">
        My Community
      </a>
      <a href="/logout" data-role="button" data-corners="false" data-shadow="false">
        Logout
      </a>
  </form>
</div>
{% endblock %}
