{% extends 'base.html' %}
{% block content %}

    <div data-role="header" style="background: white">
      <hr style="height: 5px; background: black">
      <img src="{{STATIC_URL}}/css/images/logo" style="width:50%;height:25%; margin-left:5px">
      <img src="{{STATIC_URL}}/css/images/blackbutton.jpg" style="width:10%;float:right;margin-right:5px">
    </div>
<!-- FIXME -->
<div data-role="content">
  <img id="logo" src="/static/css/images/logo"></img>
  <form>
    <a href="/messenger/donation_map" data-role="button" data-corners="false" data-shadow="false">
      Search Donations
    </a>
    <a href="{% url 'create_pickup_request' %}" data-role="button" data-corners="false" data-shadow="false">
      New Donation
    </a>
    <a href="{% url 'create_profile' %}" data-role="button" data-corners="false" data-shadow="false">
      Create Profile
      <a href="{% url 'my_profile'  %}" data-role="button" data-corners="false" data-shadow="false">
        My Profile
      </a>
      <a href="#" data-role="button" data-corners="false" data-shadow="false">
        My Community
      </a>
      <a href="/logout" data-role="button" data-corners="false" data-shadow="false">
        Logout
      </a>
  </form>
</div>
{% endblock %}
