{% extends 'base.html' %}
{% load main_tags %}
{% block content %}

    <div data-role="header" style="background: white">
      <hr style="height: 5px; background: black">
      <img src="{{STATIC_URL}}/css/images/logo" style="width:50%;height:25%; margin-left:5px">
      <img src="{{STATIC_URL}}/css/images/blackbutton.jpg" style="width:10%;float:right;margin-right:5px">
    </div>

<div data-role="content">
  <div class="pull-left">
    <h1>{{pickup_request.requester.get_full_name}}</h1>
    <p>{{pickup_request.requester.get_profile.phone_number}}</p>
    <p>
      {% for i in pickup_request.requester.get_profile.reputation|get_range %}
      &#9733;
      {% endfor %}
    </p>

    {% if pickup_request.requester.donater_description %}
    <p>{{pickup_request.requester.donater_description}}</p>
    {% endif %}

  </div>
  <div class="pull-right">
    <img style="width:200px" src="http://graph.facebook.com/{{pickup_request.requester.username}}/picture?type=large" />
  </div>
  <div style="clear:both"></div>
  <form>

  </form>


  <form method="POST"
	action="{% url 'actions_fulfill_request' pickup_request.id %}">
    {% csrf_token %}
    <select name="minutes">
      <option value="10">10 minutes</option>
      <option value="20">20 minutes</option>
      <option value="30">30 minutes</option>
      <option value="40">40 minutes</option>
      <option value="50">50 minutes</option>
      <option value="60">60 minutes</option>
    </select>
    <button type="submit" data-role="button">Confirm</button>
  </form>
</div>
{% endblock %}
