{% extends 'base.html' %}
{% block content %}

		<div data-role="header" style="background: white">
			<hr style="height: 5px; background: black">
			<img src="{{STATIC_URL}}/css/images/logo" style="width:50%;height:25%; margin-left:5px">
			<img src="{{STATIC_URL}}/css/images/blackbutton.jpg" style="width:10%;float:right;margin-right:5px">
		</div>

<!-- FIXME -->
<div data-role="content">

 <div id="profile-name"><h2>{{ user.first_name }} {{ user.last_name }}</h2>
  <a href="url">Edit +</a></div>
 <hr></hr>
 <img id="profile-picture" src="{{picurl}}"/>

 <p>{{ user_profile.phone_number }}</p>
 <p>{{ user_profile.donator_description }}</p>

 <h2>Open Donations</h2>
 {% for donation in open_donations %}
 <a href="#" data-role="button" data-corners="false" data-shadow="false">{{donation.description}}</a>
 {% endfor %}
 <hr></hr>
 <h2>Closed donations</h2>
 {% for donation in closed_donations %}
 <a href="#" data-role="button" data-corners="false" data-shadow="false">{{donation.description}}</a>
 {% endfor %}
 <hr></hr>
</div>
{% endblock %}
