{% extends 'base.html' %}
{% block content %}
<div data-role="header">
  <h1>Feed & Gain</h1>
</div>

<!-- FIXME -->
<div data-role="content">

  <form id="request-form" action="{% url 'create_profile' %}"
  method = "POST">
    {% csrf_token %}

   <a href="url">Edit</a>


    <h1>My Profile</h1>

    <img src="{{picurl}}" style="width:90%;height:30%" />
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <p>{{ user_profile.phone_number }}</p>
    <p>{{ user_profile.donator_description }}</p>

    <h2>My deliveries</h2>
    {% for delivery in user_deliveries %}
    <p>{{delivery.description}}</p>
    {% endfor %}

    <h2>My donations</h2>
    {% for donation in user_donations %}
    <p>{{donation.description}}</p>
    {% endfor %}

    <input type="submit" value="Save"/>
  </form>
</div>
{% endblock %}
